<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @comment.user.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment), class: "btn btn-primary outline" %> <br><br>
<%= link_to 'Back', post_comments_path(@comment.post), class: "btn btn-primary outline" %>
