<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <% unless current_user.following['users'].include?("#{user.id}") %>
          <td><%= link_to 'Follow', user_follow_path(user) %></td>
        <% else %>
          <td><%= link_to 'Unfollow', user_unfollow_path(user) %></td>
        <% end %>
        <td><%= link_to 'Posts', user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
