<p id="notice"><%= notice %></p>
  <% @posts.each do |post| %>
  <div class="well">
    <article class="post-blog">
      <p class="posts_time"><%=l post.created_at, format: :br %></p>
      <p class="posts"><%= post.body%></p>
      <% if current_user.id == post.user.id %>
        <%= link_to I18n.t('link.show'), post_path(post) , class: "btn btn-primary outline"%>
        <%= link_to I18n.t('link.edit'), edit_post_path(post), class: "btn btn-primary outline" %>
        <%= link_to I18n.t('link.destroy'), post, method: :delete, class: "btn btn-primary outline", data: {:confirm => 'Are you sure?'}  %>
      <% else %>
        <%= link_to I18n.t('link.comments'), post_comments_path(post) , class: "btn btn-primary outline"%>
      <% end %>
    </article>
  </div>
  <% end %>
<br>
